body {
font-family: 'Fira Sans', sans-serif;
background-color: rgb(17, 136, 175);
}
h1, h2, h3 {
    color: #200a55;
    text-align: center;
}

/* Navegação */

.navbar {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #AB91EB;
    position: sticky;
    position: -webkit-sticky;
}
.navbar a {
    float: left;
    display:block;
    color:rgb(79, 11, 174);
    text-align:center;
    padding: 20px 24px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #c511b0;
    color: black;
}

.navbar a.active {
    background-color: rgb(159, 21, 172);
    color:white;
}

.header {
 font-family: "Kufam", cursive;
 display: flex;
 flex-direction: column;
 padding: 60px;
 text-align: center;
 background: #bb6ecb;
 color: black;
}

/*detalhes*/

.p {
    margin-bottom: 2em;
}
.row {
   background-color: rgb(243, 172, 210); 
}

/*rodapé*/

.footer {
    text-align: center;
    padding: 10px;
    background: rgb(125, 7, 204);
}

/* SITE RESPONSIVO */

@media screen and (min-width: 768px) {
    .navbar {
        justify-content: space-around;
    }
    
    .header {
        height: 60px;
        height: 6vh;
        justify-content: center;
        background-color: #F598E3;
    }
}

/* DETALHES */

div#responsive-imgs img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}

button {
    background-color: rgb(62, 11, 156);
    color:rgb(247, 247, 247);
    border: rgb(0, 0, 0);
    border-radius: 16px;
    padding: 18px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button a :hover{
    background-color: rgb(90, 7, 185);
}
input {
    height: 26px;
    width: 330px;
    border-radius: 8px;
    border-color: rgb(34, 0, 53);
}

.gif {
    margin-bottom: 20px;
}
